body {
    background-image: url(../assets/img/bg.png);
    background-color: #91E4F4;
    background-size: 1380px;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
main {
    flex-grow: 1;
    font-family: 'poppins', cursive; 

}

.kembali{
    margin: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.kembali img{
    width: 150px;
    vertical-align: left;
    transition: transform 0.3s ease-out; /* Add a smooth transition effect */
}

.kembali img:hover{
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s;
    border-radius: 10px;
}

.judul{
    margin: 10px;
    position: absolute;
    top: 0;
    left: 37%;
}

.judul img{
    width: 300px;
    vertical-align: right;
    transition: transform 0.3s ease-out; /* Add a smooth transition effect */
}

.judul img:hover{
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s;
    border-radius: 10px;
}


.buah{
    margin: 30px;
    position: absolute;
    right:20%;
    bottom:14%;
}

.hewan{
    margin: 30px;
    position: absolute;
    left:20%;
    bottom:14%;
}
a img{
    width: 250px;
}



button {
    background-color: transparent;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    color: black;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: transparent;
}
